@font-face {
    font-family: 'font'; 
    src: url('../fonts/font.ttf'), auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    font-family: 'font', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: url('../cursor.cur'), auto;
}

.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 12px;
    user-select: none;
    pointer-events: none;
    z-index: 1000;
    animation-name: fall;
    animation-timing-function: linear;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}
