@font-face {
    font-family: 'font'; 
    src: url('fonts/font.ttf'), auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000; 
    font-family: 'font', Arial, sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: url('cursor.cur');
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);  
    z-index: -1;  
}

.names-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    flex-grow: 1;
    width: 100%;
    padding: 20px; 
    box-sizing: border-box;
}

.name {
    font-size: calc(1.5vw + 15px);
    margin: calc(1vw + 5px) 0;
    cursor: url('cursor.cur');
    text-align: center;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    filter: brightness(300%);
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 
        0 0 30px rgba(255, 255, 255, 0.4), 
        0 0 40px rgba(255, 255, 255, 0.3); 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(300%);
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 
        0 0 30px rgba(255, 255, 255, 0.4), 
        0 0 40px rgba(255, 255, 255, 0.3); 
    color: white;
    font-size: 3rem;
    font-family: 'font', Arial, sans-serif;
    cursor: url('cursor.cur');
    z-index: 999;
    text-align: center;
    opacity: 1; 
    transition: opacity 5s ease-out visibility 0s 5s; 
    visibility: visible;
}

.overlay.hidden {
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 5s ease-out, visibility 0s 5s; 
}

.overlay .click-text {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hide-overlay {
    opacity: 0;
    visibility: hidden;
}

.name:hover {
    font-size: calc(2vw + 20px);
    font-family: 'font', Arial, sans-serif;
    color: white;
    cursor: url('cursor.cur');
    filter: brightness(300%);
    text-shadow: 
        0 0 5px rgba(255, 255, 255, 1),
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 
        0 0 30px rgba(255, 255, 255, 0.4), 
        0 0 40px rgba(255, 255, 255, 0.3); 
}

html, body {
    height: 100%;
}

.names-container {
    max-width: 1000px;
    width: 100%;
    box-sizing: border-box;
}
